
@import url('https://fonts.googleapis.com/css2?family=B612+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f4f8;
    height: 100vh;
}

/* Form Wraper */

section{
    background-color: #ffffff;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
    height: 520px;
    width: 500px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;

}

section.active{
    display: flex;
}

h1{
    color: #1f2937;
    font-size: 37px;
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-top: 15px;
    
}

.page1-para{
   font-family: sans-serif;
   text-align: center; 
   color: #6d8598;
}

.input-field{
    display: flex;
    flex-direction: row;
    position: relative;
    top:15px;
    left: 5px;
    margin: 20px;
    padding: 12px 5px;
    width:350px;
    border:1.5px solid #3498db;
    border-radius: 8px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
    outline: none;
    cursor: pointer;
}

.quiz-names{
 position: relative;
 top: 10px;
 left: 23px;
 font-family: sans-serif;
 font-size: 18px;
 font-weight: 700;
 color: #1f2937;
}

.radio-section{
    position: relative;
    top:20px;
    left: 50px;
    font-family:'Poppins', sans-serif;
    color: #1f2937;
}

.q-select{
   margin:10px;
   cursor: pointer;

}

.btn-submit{
    padding: 10px 20px;
    border-radius: 15px;
    border: none;
    font-size: 18px;
    background-color: #3498db;
    color: #ffffff;
    position: relative;
    top:35px;
    left: 8px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    width: 30%;
}


/* User Data */

.start-screen{
    background-color: #ffffff;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    height:400px;
    width:450px;
    display: none;

}

 .page2-h1{
    margin-top: 15px;
    font-size: 45px;
}

.page2-para{
   font-family: sans-serif;
   text-align: center; 
   color: #6d8598;
  
}

.para-handle{
  margin-top: 50px;
}
p.set-para{
    text-align: center;
    font-size: 22px;
}
.btn-start{
    position: relative;
    top: 40px;
    left:5px;
    padding: 10px 20px;
    border-radius: 15px;
    background-color:#3498db;
    border: none;
    font-size: 18px;
    color: white;
    cursor: pointer;
    width:30%;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
}

/* Questions Page */

h2{
    margin-top: 30px;
    font-family: san-serif;
    font-size: 34px;
    color: #1f2937;
}

ul{
    list-style-type: none;
    margin-top:20px;
    width:100%
}

ul li{
    background-color: white;
    border:1.5px solid #3498db;
    border-radius: 5px;
    padding: 10px;
    margin: 20px;
}